@layer features {
/* Automated Line Height System — WARNING! Radioactive */
/* Processing is expensive. In this sense, it must be optimized as much as possible,
   by manually choosing the elements that will be affected by the different calculations. */
/* Relies on ECSS theme variables */

	*::after, *::before, p, ul, ol, a, span, small,
	h1, h2, h3, h4, h5, h6 {
		--alh-threshold_1_5: var(--alh-multiplier) * 0.875;
		--alh-threshold_2: var(--alh-multiplier) * 1.25;
		--alh-threshold_2_5: var(--alh-multiplier) * 1.5;
		--alh-threshold_3: var(--alh-multiplier) * 2;
		--alh-multiplier: (var(--ScaleLevel) * 1rem) - var(--Row);
		--magic-1_5: clamp(0px, calc((var(--alh-threshold_1_5)) * 9999999), var(--Row));
		--magic-2: clamp(0px, calc((var(--alh-threshold_2)) * 9999999), var(--Row));
		--switch-2: var(--switch-2_5) + var(--is-2_5-rows, 0px);
		--switch-1_5: var(--switch-2) + var(--is-2-rows);
		--switch-1: var(--switch-1_5) + var(--is-1_5-row);
		--is-2-rows: calc(var(--magic-2) - (var(--switch-2)));
		--is-1_5-row: calc(var(--magic-1_5) - (var(--switch-1_5)));
		--is-1-row: calc(var(--Row) - (var(--switch-1)));

		--alh-line_height: calc(var(--is-1-row, var(--Row)) + (var(--is-1_5-row, 0px) * 1.5) + (var(--is-2-rows, 0px) * 2) + (var(--is-2_5-rows, 0px) * 2.5) + (var(--is-3-rows, 0px) * 3));
		--LineHeight: calc(var(--alh-line_height, 1.5625) * var(--LineHeightFactor, 1)); 
	}

	h1, h2, h3, p {
		--magic-2_5: clamp(0px, calc((var(--alh-threshold_2_5)) * 9999999), var(--Row));
		--magic-3: clamp(0px, calc((var(	--alh-threshold_3)) * 9999999), var(--Row));
		--switch-2_5: var(--is-3-rows, 0px);
		--is-3-rows: var(--magic-3);
		--is-2_5-rows: calc(var(--magic-2_5) - (var(--switch-2_5)));
	}
}
