@layer theming {
	/* Typography based on system fonts ----------------------- */
	html { font-family: var(--BaseFontStack, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"); }

	/* Adaptation of the typography ----------------------- */
	@media (max-width: 60em) { :root { --Scale: var(--MajorSecond); } }
	@media (min-width: 60em) { :root { --Scale: var(--MinorThird); } }


	/* Typographic scale ----------------------- */
	h1, .h1 { --ScaleLevel: var(--Huger); --LineHeightFactor: .8125;}
	h2, .h2 { --ScaleLevel: var(--Huge); }
	h3, .h3 { --ScaleLevel: var(--Tall); }
	h4, .h4 { --ScaleLevel: var(--Short); }
	h5, .h5 { --ScaleLevel: var(--Short); --LineHeightFactor: .75; }
	h6, .h6 { --ScaleLevel: var(--Shorter); --LineHeightFactor: .75; }

	h1, h2, h3, h4, h5, h6, 
	.h1, .h2, .h3, .h4, .h5, .h6 {
		--FontWeight: 800; 
	}

	strong {
		--FontWeight: 600;
	}

	small {
		font-size: .75em;
	}
}
